
<div class="background">
<div class="content">
        <div class="searcher">

          <h1 class="title">
            История кафедры ИУ6
          </h1>
          <div class="div-text">
            <p>После Великой Отечественной войны страна остро нуждалась в высококвалифицированных кадрах, 
              способных обеспечить прорыв в создании вычислительных устройств и технологий их производства. 
              Решать эту задачу было поручено МВТУ им. Н.Э. Баумана и нескольким другим вузам страны. В МВТУ 
              на факультете «Приборостроение» уже существовала кафедра П-5 (ныне ИУ5) «Счетно-решающие приборы и устройства»,
               возглавляемая легендарным профессором Сергеем Доброгурским. Однако опыта разработки электронных устройств не хватало. В 1952 году было принято решение создать новую кафедру – «Математические машины» (П-6, а ныне ИУ6). 
               Её заведующим стал 37-летний доцент Борис Анисимов. В МВТУ он работал с 1938 года, к моменту организации кафедры в его послужном списке было около десяти научных трудов и одно изобретение
              </p>
              <p>
                Первый набор на новую специальность состоялся в 1952 году, хотя сами студенты не знали о том, что будут учиться на этом направлении. Они поступали на «Точную механику», но весной 1953 года им объявили – теперь специальность называется «Счетные машины», а индекс групп СМ11 (выпускающая кафедра «Счетно-решающие приборы и устройства») и СМ12 (выпускающая кафедра «Математические машины»). 
                И хоть о самих вычислительных машинах тогда было почти ничего не известно, такую перемену в судьбе студенты встретили одобрительно, тем более, что это событие сопровождалось увеличением стипендии в полтора раза. 
                Ситуация требовала ускорить процесс подготовки специалистов. Поэтому сразу же была сформирована группа из 15 пятикурсников. Половина этой группы — студенты кафедры «Счетно-решающие приборы и устройства», а вторая половина — студенты, перешедшие с кафедры «Турбостроение». Таким образом, первый выпуск новая кафедра провела уже в 1954 году. В дипломах первых выпускников значилась специальность «Точная механика», 
                а в дипломах 1956 года появилось новое название — «Математические и счетно-решающие приборы и устройства». Выпускники 1954 года Евгений Кузин, Виктор Петров и выпускник 1956 года Александр Савельев стали гордостью кафедры: окончили аспирантуру, защитили кандидатские и докторские диссертации, стали профессорами, ведущими преподавателями, авторами первых учебников.
              </p>

              <p>
                Вскоре на кафедру пришли специалисты, которые уже имели опыт разработки электронно-вычислительной техники. Наиболее значительным “приобретением” стали Николай Трубников, Дмитрий Жучков, Петр Сыпчук. Заведующий кафедрой П-6 Борис Анисимов хорошо понимал, что главный кадровый резерв кафедра должна “производить” сама – причем, делать это необходимо срочно. Поэтому он пригласил на работу выпускников других кафедр факультета — Виктора Голубкина, Бориса Белова, Юрия Трунова, Владимира Овчинникова, которые на протяжении десятков лет оставались фундаментом педагогического состава кафедры П-6. 
              </p>
              <p>
                Кафедра смело делала ставку и на молодежь — выпускники считали за честь остаться работать на П-6. Так, помимо Виктора Петрова, Евгения Кузина и Александра Савельева, на кафедре остались Юрий Довженко, Карл Хомяков, Татьяна Абрамова, Игорь Норенков и Сергей Иванов. Этот процесс не прерывался многие годы. Большинство из этих выпускников многого добились в деле подготовки новых специалистов. 
              </p>
              <p>
                В период становления кафедры вопрос о покупке специального учебного стендового оборудования не ставился по простой причине — его не существовало в продаже. Как быть? Ответ прост — разрабатывать и делать самим. Кафедра получила из СКБ-245 макет одной из первых отечественных ЭВМ «Стрела» — это был царский подарок. Макет имел более десяти двухметровых стоек с сотнями электронных ламп. Первые студенты выполняли на нем лабораторный практикум. Также они изучали отечественный счетноаналитический комплекс (позднее такие устройства стали называть счетно-перфорационными) и так называемые малые вычислительные машины (арифмометры и суммирующие машины). Макеты лабораторных работ по электронике и схемотехнике разрабатывали и изготавливали непосредственно на кафедре молодые преподаватели, инженеры и студенты. 
                Главным 
движителем создания лабораторных 
стендов и оснащения лаборатории 
приборами и источниками питания стал 
Александр Метелев — участник Великой Отечественной войны, заведующий 
лабораторией кафедры.
              </p>
              <p>
                В 1959 году при кафедре была организована вычислительная лаборатория и введены в эксплуатацию ламповые ЭВМ «Урал-1» и «Урал-2». Позднее 
им на смену пришли полупроводниковые «Минск-2» и «М-222», позволившие 
развернуть интенсивные исследования в области машинного проектирования и создания математического и 
программного обеспечения (ПО) ЭВМ. 
Одновременно на кафедре разрабатывали вычислительные средства для 
управления технологическими процессами, в частности — программного 
управления металлорежущими станками (совместно с кафедрой МТ-1).
              </p>
              <p>
                К 1958 году П-6 имела достаточный 
фундамент для ведения стабильного 
учебного процесса, но не хватало учебной литературы. Тогда преподаватели 
получили задание — в короткий срок 
подготовить учебные пособия. В этой 
работе Борис Анисимов принимал непосредственное участие. Первый отечественный учебник «Основы теории и проектирования цифровых вычислительных 
машин», выдержавший три издания, был 
выпущен в свет в 1962 году. Его авторы — 
Борис Анисимов и заведующий кафедрой П-5 Владимир Четвериков.
              </p>
              <p>
                Вскоре выходит серия учебных пособий. Период с 1962 по 1974 гг. Борис Анисимов вместе с соавторами 
выпустил пять учебников. Это стало 
возможным благодаря тому, что на 
кафедре удалось создать сплоченный, 
молодой и творческий коллектив.
              </p>
              <p>
                Позже П-6 берется за разработку 
специализированной ЭВМ для управления станками, обрабатывающими детали сложной геометрической формы. 
Работа проводилась по заказу крупного 
авиапредприятия. Технической разработке этой специализированной ЭВМ 
предшествовала подготовка сложных 
алгоритмов и математического обеспечения проекта, завершившаяся созданием ПО. Работа проводилась под руководством Анисимова. Значительный 
вклад в решение основных задач внесли Евгений Кузин и Юрий Довженко.</p><p>
Наибольшую значимость в 60–70-е 
годы приобрели работы в области САПР 
ЭВМ и создания автоматизированных 
систем управления (АСУ) на базе ЭВМ. 
Работы включали исследования, связанные как с автоматизацией процесса 
проектирования элементов ЭВМ, так и 
с автоматизацией проектирования самих ЭВМ на регистровом уровне. Работы по САПР элементов ЭВМ вели группы, 
возглавляемые Игорем Норенковым 
и Виктором Голубкиным. А работы по 
моделированию вели в научной лаборатории под руководством профессора 
Виктора Петрова. Ведущую роль в лаборатории выполняли молодые преподаватели Алексей Петров, Петр Шкатов, Валерий Чёрненький. Лаборатория 
работала в тесном взаимодействии с 
одним из ведущих московских НИИ 
и буквально стала кузницей молодых 
научных кадров для многих научно-исследовательских учреждений. 
              </p>
              <p>
                Авторитет П-6 рос, укреплялись ее 
связи с родственными вузами Москвы, 
Ленинграда, Киева, Пензы. Поэтому не 
случаен тот факт, что, когда был организован Научно-методический совет при 
Минвузе СССР по специальности «Вычислительные машины», почетное место 
председателя в нем было предложено 
Борису Анисимову. Совет сыграл положительную роль в деле организации 85-ти 
новых кафедр ЭВМ в России и союзных 
республиках – все они работали по учебным программам П-6. В МВТУ направляли стажеров, многие из которых затем 
учились в аспирантуре, защищали диссертации и возвращались в свои вузы.
              </p>
              <p>
                К середине 70-х годов кафедра располагала необходимым ресурсом для подготовки специалистов высокого уровня, 
а ежегодный выпуск достиг 100 человек. 
На кафедре работали шесть профессоров (Борис Анисимов, Владимир Овчинников, Виктор Голубкин, Юрий Смирнов, 
Игорь Норенков, Виктор Петров), несколько десятков доцентов – кандидатов наук. Молодые ассистенты через 
один-два года работы защищали диссертации или защитившись еще аспирантами, вливались в педагогический или 
научный коллективы. Один только Борис 
Анисимов подготовил более тридцати 
кандидатов и нескольких докторов наук.
              </p>
              <p>
                В августе 1976 года Анисимов уходит из жизни, что становится серьезным ударом для П-6, но заложенные 
им традиции и нравственность сформировавшегося коллектива позволили 
кафедре не растерять то, что было наработано в самый трудный момент — 
в период её становления.
              </p>
              <p>
                В 1977 году кафедру возглавил Юрий 
Смирнов — выдающийся ученый и организатор, заслуженный деятель науки и техники РСФСР, лауреат Государственной премии СССР, участник ВОВ, 
профессор, доктор технических наук.
              </p>
              <p>
                С приходом Смирнова кафедра 
пополняется еще одним подразделением под его руководством — Отраслевой лабораторией вычислительных 
средств и систем управления (ОЛВС и 
СУ). Отметим, что многие из разработок лаборатории внедрены в промышленность, в первую очередь – оборонную. Полуавтоматические системы 
управления противотанковыми управляемыми снарядами с использованием в качестве носителей танков, 
вертолетов, самолетов; информационно-вычислительные системы и их 
ПО в зенитных ракетных и артиллерийских комплексах различного назначения; системы отображения информации на подвижных носителях 
— вот далеко не полный перечень 
работ, выполненных лабораторией, 
которая в 1988 году вошла в состав 
созданного в МГТУ Научно-исследовательского института информатики и 
систем управления (НИИ ИСУ).
              </p>
              <p>
                По тематике работ лаборатории 
ОЛВС и СУ многие из ее сотрудников 
защитили диссертации, за разработку и освоение в серийном производстве образцов новой техники многие 
награждены орденами и медалями, 
стали лауреатами Государственных 
премий СССР. Государственной премии 
был удостоен и сам Юрий Смирнов. 
Под его руководством и при непосредственном участии созданы системы 
управления ряда первоклассных комплексов, принятых на вооружение: 
«ПУМА», «ШТУРМ-В», «ШТУРМ-С», «ТУНГУСКА», «КАШТАН» и др. С момента создания лаборатория ОЛВС и СУ служила 
хорошей базой реального курсового и 
дипломного проектирования, местом 
практики студентов.
              </p>
              <p>
                В конце 70-х и в 80-е годы расширились деловые связи кафедры с проектными и промышленными организациями, совместно разрабатывались 
научные и технические проблемы. 
С рядом организаций (НИЦЭВТ, НИИ 
«Аргон», Институт точной механики и 
вычислительной техники, московский 
завод «САМ», КБ в Туле и Коломне) кафедра была связана договорными отношениями.
              </p>
              <p>
                Признание достижений П-6 было 
закреплено в 1979 году — кафедре присвоили статус базовой по подготовке инженерных кадров по специальности «Вычислительные машины, 
комплексы, системы и сети». Статус 
предопределил ее ведущую роль при 
разработке учебных планов и других 
методических документов по специальности, определении планов выпусков учебной литературы, организации работы научно-методического 
Совета по специальности. Сотрудники 
кафедры по-прежнему принимали активное участие в разработке государственных образовательных стандартов 
по направлению «Информатика и вычислительная техника».
              </p>
              <p>
                1980 году по новому учебному 
                плану кафедра начала подготовку 
                студентов по трем специализациям: 
                «Сети ЭВМ», «САПР ЭВМ» и «Специализированные вычислительные 
                комплексы». Последняя из них для 
                кафедры стала новой. Основу ее составили научные и практические разработки ОЛВС и СУ.
              </p>
              <p>
                Научный и педагогический потенциал П-6 позволил на ее базе создать новые кафедры МГТУ. В 1982 
году была образована кафедра «Системы автоматизированного проектирования» (ныне РК6), руководить 
которой стал выпускник П-6, лауреат 
Государственной премии СССР, д. т. 
н., профессор Игорь Норенков. В 1988 
году на базе кафедральной секции 
«Вычислительная техника» была создана кафедра «Программное обеспечение ЭВМ и информационные 
технологии» (ИУ7) под руководством 
д. т. н., профессора Бориса Трусова. 
В декабре 1997 года образована еще 
одна — «Информационная безопасность» (ИУ8), первым заведующим 
которой стал выпускник и преподаватель ИУ6, д. т. н. профессор Аркадий Марков.
              </p>
              <p>
                П-6 многократно признавалась одной из лучших на факультете и в Университете, награждалась призами. 
Преподавателей кафедры отмечали 
как лучших в МГТУ – вручали премии и 
знаки отличия. Многократно лучшими 
преподавателями были доценты: Галина Петрова, Галина Иванова, Сергей 
Иванов, Игорь Баскаков, Татьяна Ничушкина, Алексей Попов и другие.
              </p>
              <p>
                На кафедре всегда был высокий 
конкурс среди абитуриентов. Поэтому у нас училось и учится много способных ребят, творческий потенциал 
которых ежегодно отмечают члены 
ГЭК, рекомендуя их для поступления 
в аспирантуру. Даже в самые тяжелые 
перестроечные годы не прекращалась 
плодотворная научная деятельность 
студентов, проводились ежегодные 
научные конференции.
              </p>
              <p>
                К направлению «Информатика и 
вычислительная техника» относились 
четыре специальности: «Вычислительные машины, комплексы, системы и 
сети», «Автоматизированные системы 
управления», «Системы автоматизированного проектирования» и «Программное обеспечение вычислительной техники и автоматизированных 
систем». Три из них сформировались 
на кафедре ИУ6 — «Компьютерные системы и сети» (это название кафедра 
носит с 1998 года).
              </p>
              <p>
                В 1997 году кафедре была поручена подготовка дополнительной группы 
АК5 по специальности «Вычислительные машины, комплексы, системы и 
сети» на «Аэрокосмическом факультете» МГТУ им. Н.Э. Баумана при ОАО 
«ВПК “НПО машиностроения”» в подмосковном городе Реутове.
              </p>
              <p>
                Из-за тяжелой болезни Юрий Смирнов оставил руководство в 1999 году и 
кафедру возглавил его ученик – д. т. н., 
профессор Владимир Сюзев. Его приход к руководству совпал с периодом 
существенных изменений: внедрением в учебный процесс нового, более 
современного учебного плана, обновлением оборудования кафедры и 
дальнейшей компьютеризацией учебного процесса, работой по организации дополнительной услуги (второе 
образование по направлению «Информатика и вычислительная техника»), 
расширением связей с родственными 
кафедрами других вузов и с предприятиями малого и среднего бизнеса, 
установлением сотрудничества с зарубежными вузами.
              </p>
              <p>
                В 2007 году в МГТУ при кафедре ИУ6 
создан центр компетенции компании 
IBM (научный руководитель — д. т. н., 
профессор Владимир Сюзев, директор 
центра — к. т. н., доцент Елена Смирнова), специализирующийся в области 
больших ЭВМ. Центр активно участвует 
в учебном процессе кафедры, реализуя направление подготовки в области 
больших ЭВМ класса мейнфрейм, в научном процессе, проводя исследования 
и международные научно-практические 
семинары и конференции по тематике 
больших машин и обработки больших 
данных с привлечением ведущих отечественных и зарубежных специалистов. 
              </p>
              <p>
                В 2016 году кафедра ИУ6 переходит под руководство декана факультета ИУ — д. т. н., профессора Андрея 
Пролетарского. С этого момента начинается новый виток развития, связанный, в первую очередь с технологиями искусственного интеллекта, 
интеллектуальными киберфизическими системами, системами поддержки 
принятия решения, новым – более 
тесным – уровнем сотрудничества 
с предприятиями IT-отрасли, государственными структурами.
              </p>
              <p>
                Впервые в истории вуза кафедра (совместно с компанией Mail.ru) участвует 
в создании Технопарка информационных технологий. В процессе становления находятся научно-образовательные 
центры с «Тинькофф Банк», Сбером, 
фирмой 1С. Предприятия IT-сферы (VK, 
Яндекс, «КРОК – Системный Интегратор», РТСофт, СамоСофт, Росатом, «Шереметьево Cargo», Тринити и многие 
другие) принимают на летнюю практику 
студентов, на кафедре ежегодно проводятся хакатоны по тематикам, интересующим предприятия отрасли.
              </p>
              <p>
                Сегодня ИУ6 активно участвует в 
эксперименте МГТУ им. Н.Э. Баумана по 
переходу на традиционное инженерное образование, начав реализацию 
с 2023 года шестилетнего обучения по 
программе «Программно-аппаратное 
обеспечение систем искусственного 
интеллекта». С этого же года кафедра 
открывает совместную магистерскую 
программу с фирмой 1С.
              </p>
              <p>
                ИУ6 оказывает существенное влияние 
на развитие высшего образования в России. Федеральное учебно-методическое 
объединение (ФУМО) вузов в системе 
высшего образования по укрупненной 
группе специальностей и направлений 
подготовки 09.00.00 «Информатика и 
вычислительная техника» сформировано и функционирует под руководством 
ведущих преподавателей кафедры. Его 
возглавляет председатель – профессор Андрей Пролетарский, учёный секретарь – профессор кафедры Татьяна 
Булдакова, технический секретарь – 
старший преподаватель кафедры Мария Скворцова. В работе ФУМО активное участие принимают преподаватели 
кафедры – профессор Галина Иванова и 
доцент Анна Ланцберг.
              </p>
              <p>
                Успех в своём развитии кафедра 
видит в реализации прогнозного практико- и проектно-ориентированного 
образования совместно с ведущими 
вендорами России и мира.
              </p>
          </div>
      </div>

</div>
</div>