<div class="searcher">
    <h1 class="title">
    Методические пособия, материалы, диплломы
    </h1>
</div>

<div class="content">
    <div class="searcher">
        <div class="line"></div>
        <h1 class="small-title">
        Гимн студентов МВТУ им. Н.Э. Баумана
        </h1>

        <div class="sections">
        <embed src='materials/2022_ПрЭВМ_с_МГППУ.PDF' width="200px" height="высота в пикселях" />
      </div>

    </div>




</div>