<div class="searcher">
      <h1 class="title">
        Гимн студентов МВТУ им. Н.Э. Баумана
      </h1>
      
    </div>
<div class="content">
  <div class="sections">
      <iframe width="660" height="415" src="https://www.youtube.com/embed/WdJk7p7GOWc?si=90ckMZGGBIeyApc4" title="Гимн студентов МВТУ им. Баумана" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="sections">
      
  </div>

</div>