<div class="searcher">
        <h1 class="title">
          <div class="box-back">
            <div class="box-in">
            <%= link_to('/profile') do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="82" height="16" viewBox="0 0 82 16" fill="none">
                <path d="M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM81 9C81.5523 9 82 8.55228 82 8C82 7.44772 81.5523 7 81 7V9ZM1 9H81V7H1V9Z" fill="black"/>
            </svg>
            <% end %>
            <div class="frame"></div>
            Отправка материалов
          </div>
        </div>
      </h1>
</div>

<div id="save-slider" class="slider">
    <div class="slider__text-container">
        Ваш файл успешно сохранён
    </div>
    <div id='close-btn' class="cross-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_277_369)">
            <path d="M15.2929 16.7071C15.6834 17.0976 16.3166 17.0976 16.7071 16.7071C17.0976 16.3166 17.0976 15.6834 16.7071 15.2929L15.2929 16.7071ZM-0.707107 0.707107L15.2929 16.7071L16.7071 15.2929L0.707107 -0.707107L-0.707107 0.707107Z" fill="#002367"/>
            <path d="M-0.707107 15.2929C-1.09763 15.6834 -1.09763 16.3166 -0.707107 16.7071C-0.316582 17.0976 0.316582 17.0976 0.707107 16.7071L-0.707107 15.2929ZM15.2929 -0.707107L-0.707107 15.2929L0.707107 16.7071L16.7071 0.707107L15.2929 -0.707107Z" fill="#002367"/>
            </g>
            <defs>
                <clipPath id="clip0_277_369">
                    <rect width="16" height="16" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>

<%= render partial: 'create' %>

<%= javascript_include_tag 'slider_on_save_button' %>