.container-teach {
    /* margin: 50% 50%; */
    display: inline-grid;
    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    min-width: 160px;
    max-width: 200px;
    justify-content: center;
}

.name-text {
    width: 100%;

font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.prof {

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--grey, #C4C4C4);
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    align-self: stretch;
}

.sections-teach {
    display: flex;
    flex-wrap: wrap;
    max-width: 1800px;
    margin: 50px 50px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px 60px;
}

.search {
    width: 100%;
}

.image-teach {
    height: 200px;

background: #FFF;

box-shadow: 0 2px 66px var(--shadowHeaderColor);

border-radius: 15px;

background-image: url("content/historyIU6.jpg");

object-fit: cover;

object-fit: contain;

width: 100%;
}



.line-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.year-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}
